.App {
  text-align: center;
  
}
html {
  background-color: #e3e3e3;
}
.panel-container {
  position: fixed;
  top: 50%;
  left: 50%;
  box-shadow: 10px 10px 79px 0px rgba(0,0,0,0.75);
  /* border: 1px solid black; */
  display: flex;
  width: 730px;
  height: 430px;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.panel {
  width: 100%;
  color: white;
  line-height: 26.5em;
  /* border: 1px solid black; */
}
.panel:hover {
  /* box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75); */
  /* box-shadow: 0px 12px 100px 0px rgba(0,0,0,0.75); */
  color: white !important;
  box-shadow: inset 0px 12px 100px 0px rgba(0,0,0,0.75);
  /* transform: rotate(10deg); */
}
